body
{
    background-color: rgb(44, 62, 80);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label
{
    font-size: larger;
    
}
section
{
    font-size: 60px;
    font-weight: 60px;
    text-align: center;
}
input
{
    width: 100%;
}
input[type="radio"]
{
    width: auto;
}
input[type = "checkbox"]
{
    width: auto;
}
#container
{
    background-color: #ECF0F1;
    margin-left: 35%;
    margin-right: 35%;
    padding: 30px;
    border-radius: 25px;
    
}